.result {
    height: 60px;
    background-color: #bbb;
    width: 100%;
  }
  
  .result p {
    font-size: 40px;
    margin: 5px;
  
  }
  
  .calculator-body {
    max-width: 400px;
    margin: auto; 
  }

  .calculator-body h1{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
    color: brown;
  }

  .button {
    display: block;
    background-color: #bbb;
  }
  
  button {
    width: 25%;
    height: 60px;
    font-size: 30px;
  }